:root {
	/* =========================================================
	   SEMANTIC TOKENS (PRIMARY GLOBAL DESIGN SYSTEM)
	   Components should use THESE, not palette values.
	========================================================= */

	/* --- Base surfaces --- */
	--color-bg-0: white; /* white background */
	--color-bg-1: var(--color-gray-200);
	--color-bg-2: var(--color-gray-300);
	--color-bg-3: var(--color-gray-300);

	/* --- Borders --- */
	--color-border-medium: var(--gray-main);

	/* --- Text & icons --- */
	--color-icon: black;
	--color-icon-unavailable: var(--color-zinc-700);
	--color-text-dark: black;

	/* --- Status --- */
	--color-danger: red;
	--color-submit: var(--color-sky-500);

	/* --- Shadows --- */
	--color-box-shadow: rgba(0, 0, 0, 0.2);

	/* --- Animation --- */
	--bounce-curve: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
	font-family: 'Noto Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	/* font-variation-settings:
    "wdth" 100; */
}

textarea {
	font-family: 'Noto Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

button {
	all: unset;
}

img {
	/* who knows if this works or no */
	-webkit-user-select: none; /* Safari */
	user-select: none; /* Standard */
	/* pointer-events: none; Disables click/long-press on mobile */
	-webkit-touch-callout: none; /* Disables callout menu on iOS */
	-webkit-user-drag: none; /* Safari, Chrome */
	-moz-user-drag: none; /* Firefox (older versions) */
	-ms-user-drag: none; /* Internet Explorer/Edge */
}
