:root {

	/* =========================================================
	   SEMANTIC TOKENS (PRIMARY GLOBAL DESIGN SYSTEM)
	   Components should use THESE, not palette values.
	========================================================= */

	/* --- Base surfaces --- */
	--color-bg-0: white; /* white background */
	--color-bg-1: var(--color-gray-200);
	--color-bg-2: var(--color-gray-300);
	--color-bg-3: var(--color-gray-300);

	/* --- Borders --- */
	--color-border-medium: var(--gray-main);

	/* --- Text & icons --- */
	--color-icon: black;
	--color-text-dark: black;

	/* --- Status --- */
	--color-danger: red;
	--color-submit: var(--color-sky-500);

	/* --- Shadows --- */
	--color-box-shadow: rgba(0, 0, 0, 0.2);
}

* {
	font-family: 'Noto Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	/* font-variation-settings:
    "wdth" 100; */
}

textarea {
	font-family: 'Noto Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
